$grid-gap: 5px;
$grid-columns: 12;

[class*='grid-'] {
	float: left;
	padding: 0 $grid-gap;
	box-sizing: border-box;
}

@for $i from 1 through $grid-columns {
	.grid-#{$i} {
		width: 100% / $grid-columns * $i;

		@media (max-width: 1080px) {
			width: 100%;
		}
	}
}
